.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#galery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

iframe {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.alamat {
  margin-top: -2px;
  border-bottom-left-radius: 4px;
  background-color: #e2edff;
  padding: 10px 5px;
  text-align: center;
  height: 50px;
  width: 505px;
  box-shadow: 4px 4px 4px rgba(119, 110, 110, 0.5);
}
